<?xml version="1.0"?>
<StopeLocatorParameter>
	<strikePosition value="x" description="specifies the strike direction: x or y"/>
	<NSRArray value="Fitness1" description="specifies the NSR array. The name has to match an input array"/>
	<Density value="DENSITY " description="specifies the Density array. The name has to match an input array"/>
	<cellSize>
		<unitX value="5"/>
		<unitY value="5"/>
		<unitZ value="5"/>
	</cellSize>
	<stopeDimension>
		<stopeWidth value="10"/>
		<stopeHeight value="50"/>
		<stopeDepth value="40"/>
	</stopeDimension>
	<minimumStopeDimension>
		<minimumAlongStrike value="5"/>
		<minimumAcrossStrike value="10"/>
		<minimumHeight value="10"/>
	</minimumStopeDimension>
	<FitnessEquation equation="2*Fitness1+1/Fitness2+1.2"/>	
</StopeLocatorParameter>
